body {
    margin: 0;
    font-family: roboto;
    background-color: rgb(122, 113, 113);
    color: white;
}

/* Header section */
.header {
    justify-content: space-around;
    padding: 16px 24px;
}

h1 {
    font-size: 56px;
}

.input {
    border: none;
    height: 24px;
    border-radius: 4px;
    padding: 4px;
    font-size: 16px;
}
/* ---------------------------------------------- */

/* Content container with pokemon cards */
#pokedex {
    min-height: 50vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px;
    gap: 16px;
}
/* ---------------------------------------------- */

/* Pseudo Classes */
.margin-zero {
    margin: 0;
}

.p-around-8px {
    padding: 8px;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.space-betw {
    justify-content: space-between;
}
/* ---------------------------------------------- */

/* Style the pokemon cards */
.poke-card {
    width: 200px;
    height: 150px;
    padding: 22px;
    border-radius: 22px;
}

#IdOfPokemon {
    text-align: right;
}

#nameOfPokemon {
    font-size: 22px;
}

.img-size {
    width: 96px;
    height: 96px;
}

.bgc-transparent { 
    background-color: rgba(0, 0, 0, 0.1);
}

.type-information {
    border-radius: 8px;
    margin-top: 2px;
    width: 70px;
    text-align: center;
}




/* Define background color depending on pokemon types */
.bgc-fighting { background-color: #CE3F6B; }
.bgc-psychic { background-color: #F87074; }
.bgc-poison { background-color: #ab6ac8; }
.bgc-dragon { background-color: #0c6ec5; }
.bgc-ghost { background-color: #5367b2; }
.bgc-dark { background-color: #5a5164; }
.bgc-ground { background-color: #d97746; }
.bgc-fire { background-color: #fe9c55; }
.bgc-fairy { background-color: #ec90e7; }
.bgc-water { background-color: #4d90d6; }
.bgc-flying { background-color: #8ea6df; }
.bgc-normal { background-color: #9099a2; }
.bgc-rock { background-color: #c9b68b; }
.bgc-electric { background-color: #f4d23b; }
.bgc-bug { background-color: #93c32e; }
.bgc-grass { background-color:#65bb5e; }
.bgc-ice { background-color: #77d1c3; }
.bgc-steel { background-color: #5B8EA1; }
.bgc-default { background-color: silver; }
