body {
    margin: 0;
    font-family: roboto;
    background-color: rgb(122, 113, 113);
    color: white;
}

/* Header section */
.header {
    justify-content: space-between;
    padding: 16px 48px;
}

h1 {
    font-size: 56px;
}

.input {
    border: none;
    height: 24px;
    border-radius: 4px;
    padding: 4px;
    font-size: 16px;
}
/* ----------------------------------------------- */


#pokedex {
    /* width: 100vw; */
    min-height: 50vh;
    /* background-color: rgb(219, 33, 33); */
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px;
    gap: 16px;
}

.info-container {
    /* position: relative; */
    display: flex;
    justify-content: center;
    border-top-right-radius: 48px;
    border-top-left-radius: 48px;
    min-height: 100px;
    margin-top: -48px;
}

#pokemonImage {
    /* position: absolute; */
    margin-top: -256px;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

/* Pseudo Classes */
.margin-zero {
    margin: 0;
}

.p-around-8px {
    padding: 8px;
}

.flex {
    display: flex;
    align-items: center;
}

.space-betw {
    justify-content: space-between;
}

/* Style the pokemon cards */
.poke-card {
    width: 200px;
    /* background-color: rgb(219, 33, 33); */
    padding: 22px;
    border-radius: 22px;
}

#IdOfPokemon {
    text-align: right;
}

#nameOfPokemon {
    font-size: 22px;
}

/* Define background color depending on pokemon types */
.bgc-fighting { background-color: #CE3F6B; }
.bgc-psychic { background-color: #F87074; }
.bgc-poison { background-color: #ab6ac8; }
.bgc-dragon { background-color: #0c6ec5; }
.bgc-ghost { background-color: #5367b2; }
.bgc-dark { background-color: #5a5164; }
.bgc-ground { background-color: #d97746; }
.bgc-fire { background-color: #fe9c55; }
.bgc-fairy { background-color: #ec90e7; }
.bgc-water { background-color: #4d90d6; }
.bgc-flying { background-color: #8ea6df; }
.bgc-normal { background-color: #9099a2; }
.bgc-rock { background-color: #c9b68b; }
.bgc-electric { background-color: #f4d23b; }
.bgc-bug { background-color: #93c32e; }
.bgc-grass { background-color:#65bb5e; }
.bgc-ice { background-color: #77d1c3; }
.bgc-steel { background-color: #5B8EA1; }
.bgc-default { background-color: silver; }